<template>
  <div class="container mt-5">
    <ul class="nav">
      <li class="nav-item">
        <router-link class="nav-link" to="/Administrador/atletas"> Atletas </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="/Administrador/categorias"> Categorias </router-link>
      </li>
    </ul>
    <hr>
    <router-view :atletas="mostrarPagina" :totales="totales"></router-view>
    <!-- Paginador -->
    <template v-if="$route.path === '/Administrador/atletas'">
      <nav aria-label="Paginador">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <button type="button" class="page-link" v-if="pagina != 1" @click="pagina--"> Anterior </button>
          </li>
          <li class="page-item" v-for="(pageNumber, index) in paginas.slice(pagina-1, pagina+5)" :key="index">
            <button type="button" class="page-link" @click="pagina = pageNumber"> {{pageNumber}} </button>
          </li>
          <li class="page-item">
            <button type="button" @click="pagina++" v-if="pagina < paginas.length" class="page-link"> Siguiente </button>
          </li>
        </ul>
      </nav>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      atletas: [],
      pagina: 1,
      cantidad: 15,
      paginas: [],
      totales: {
        oro: 0,
        plata: 0,
        bronce: 0
      }
    }
  },
  computed: {
    mostrarPagina () {
      return this.paginacion(this.atletas)
    }
  },
  methods: {
    async consultaDatos () {
      try {
        const res = await fetch('https://raw.githubusercontent.com/ag-grid/ag-grid/master/grid-packages/ag-grid-docs/src/olympicWinners.json')
        this.atletas = await res.json()
        this.setPagina()
        this.calcularTotal()
      } catch (error) {
        console.error(error)
      }
    },
    setPagina () {
      const numeropaginas = Math.ceil(this.atletas.length / this.cantidad)
      for (let i = 1; i <= numeropaginas; i++) {
        this.paginas.push(i)
      }
    },
    paginacion (atletas) {
      const desde = (this.pagina * this.cantidad) - this.cantidad
      const hasta = this.pagina * this.cantidad
      return atletas.slice(desde, hasta)
    },
    calcularTotal () {
      this.totales.oro = this.atletas.reduce((total, atleta) => { return total + atleta.gold }, 0)
      this.totales.plata = this.atletas.reduce((total, atleta) => { return total + atleta.silver }, 0)
      this.totales.bronce = this.atletas.reduce((total, atleta) => { return total + atleta.bronze }, 0)
    }
  },
  created () {
    this.consultaDatos()
  }
}
</script>

<style scoped>

</style>
