<template>
  <div class="container mt-5">
    <!-- Pagina de Coordinador -->
    <h1>Sitio en Mantenimiento</h1>
    <img class="mw-100" src="../assets/mantenimiento.svg" alt="sitio en mantenimiento">
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style scoped>

</style>
