<template>
  <div class="d-flex justify-content-center align-items-center login-1">
    <div class="container p-5 login shadow p-3 mb-5 bg-white rounded">
      <h3 class="text-center">Inicio de Sesion</h3>
      <form @submit.prevent="LogIn">
        <div class="mb-3 text-left">
          <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
          <input type="email" placeholder="correo electronico" class="form-control" v-model="usuario.email" required>
        </div>
        <div class="mb-3 text-left">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" placeholder="contraseña" class="form-control" v-model="usuario.password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">
          <template v-if="isLoading">
            <span class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
            <span class="text-white"> Cargando...</span>
          </template>
          <template v-else >
            <span class="text-white">Iniciar Sesion</span>
          </template>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      isLoading: false,
      usuario: {
        email: '',
        password: ''
      },
      usuarios: [
        { nombre: 'Juan', cargo: 'Coordinador', email: 'juan@abc.com', password: 'juanabc' },
        { nombre: 'Diego', cargo: 'Administrador', email: 'diego@abc.com', password: 'diegoabc' }
      ]
    }
  },
  methods: {
    LogIn () {
      this.isLoading = true
      const user = this.usuarios.find(user => user.email === this.usuario.email)
      if (user !== undefined && this.usuario.password === user.password) {
        console.log('sesion iniciada')
        // enviar al store y redirigir a Home
        this.$store.dispatch('login', user)
        if (user.cargo === 'Administrador') {
          this.$router.push({ path: '/Administrador/atletas' })
        } else {
          this.$router.push({ name: 'Coordinador' })
        }
      } else {
        console.log('usuario o contraseña no valido')
      }
      this.isLoading = false
    }
  }
}
</script>

<style scoped>
.login-1 {
  min-height: 100vh;
}
.login {
  max-width: 500px;
}
</style>
