<template>
  <div class="d-flex flex-wrap">
    <div class="col col-md-4">
      <div class="card mb-4 flex-fill">
        <a @click="toggle(0)"><img class="card-img-top" src="../assets/logo.png" alt="Oro"></a>
        <div class="card-body">
          <h5 class="card-title">{{ totales.oro }}</h5>
          <p class="card-text">Medallas de Oro Ganadas.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card mb-4 flex-fill">
        <a @click="toggle(1)"><img class="card-img-top" src="../assets/logo.png" alt="Plata"></a>
        <div class="card-body">
          <h5 class="card-title">{{ totales.plata }}</h5>
          <p class="card-text">Medallas de Plata Ganadas.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card mb-4 flex-fill">
        <a @click="toggle(2)"><img class="card-img-top" src="../assets/logo.png" alt="Bronce"></a>
        <div class="card-body">
          <h5 class="card-title">{{ totales.bronce }}</h5>
          <p class="card-text">Medallas de Bronce Ganadas.</p>
        </div>
      </div>
    </div>
    <div :class="modalClasses" class="fade" id="reject" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ mensaje.Titulo }}</h4>
            <button type="button" class="close" @click="toggle(0)">&times;</button>
          </div>
          <div class="modal-body"> {{ mensaje.Descripcion }} </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger" @click="toggle(0)">Cerrar</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Categoria',
  props: {
    totales: Object
  },
  data () {
    return {
      modalClasses: ['modal', 'fade'],
      mensajes: [
        {
          Titulo: 'Medalla de Oro',
          Descripcion: 'Es el reconocimiento al ganador de una competicion.'
        },
        {
          Titulo: 'Medalla de Plata',
          Descripcion: 'Es el reconocimiento al segundo mejor de una competicion'
        },
        {
          Titulo: 'Medalla de Bronce',
          Descripcion: 'Es el reconocimiento al tercer mejor de una competicion'
        }
      ],
      mensaje: {
        Titulo: '',
        Descripcion: ''
      }
    }
  },
  methods: {
    toggle (i) {
      this.mensaje = this.mensajes[i]
      const modalClasses = this.modalClasses
      if (modalClasses.indexOf('d-block') > -1) {
        modalClasses.pop()
        modalClasses.pop()
        // hide backdrop
        const backdrop = document.querySelector('.modal-backdrop')
        document.body.removeChild(backdrop)
      } else {
        modalClasses.push('d-block')
        modalClasses.push('show')
        // show backdrop
        const backdrop = document.createElement('div')
        backdrop.classList = 'modal-backdrop fade show'
        document.body.appendChild(backdrop)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
