<template>
  <header v-if="usuario !== null">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <router-link class="navbar-brand" :to="$route.path">
        <img src="../assets/logo.png" class="d-inline-block align-top" alt="Quick-logo" height="32px">
        ABC
      </router-link>
      <ul class="navbar-nav">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ usuario.cargo }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">{{ usuario.nombre }}</a>
              <a class="dropdown-item" @click="Logout">Cerrar Sesion</a>
            </div>
          </li>
        </ul>
    </nav>
  </header>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'NavBar',
  computed: {
    ...mapState(['usuario'])
  },
  methods: {
    Logout () {
      this.$store.dispatch('logout')
      this.$router.push({ name: 'Login' })
      console.log('Sesion cerrada')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
