<template>
  <div class="container">
    <h1>Tabla de Ganadores De Medallas Olimpicas</h1>
    <table class="table table-striped table-hover table-borderless text-start">
      <thead>
        <tr>
          <th>Atleta</th>
          <th>Edad</th>
          <th>Pais</th>
          <th>Año</th>
          <th>Fecha</th>
          <th>Deporte</th>
          <th>Oro</th>
          <th>Plata</th>
          <th>Bronce</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <template v-if="atletas.length === 0">
          <tr>
            <td colspan="10">No se ha cargado la informacion.</td>
          </tr>
        </template>
        <template v-else>
          <tr v-for="(atleta, index) in atletas" :key="index">
            <td>{{ atleta.athlete }}</td>
            <td>{{ atleta.age }}</td>
            <td>{{ atleta.country }}</td>
            <td>{{ atleta.year }}</td>
            <td>{{ atleta.date }}</td>
            <td>{{ atleta.sport }}</td>
            <td>{{ atleta.gold }}</td>
            <td>{{ atleta.silver }}</td>
            <td>{{ atleta.bronze }}</td>
            <td>{{ atleta.total }}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Tabla',
  props: {
    atletas: Array
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
